!!!

%html
  %head
    %title Best Signatures WoW Character Image Auto-Updater

    %script{ src: url("/sorttable.js") }
  %body
    %a{ href: "https://github.com/jbhannah/bestsigs-wow-cacher/", target: "_blank" }
      %img{ src: "https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png",
            alt: "Fork me on GitHub",
          style: "position: absolute; top: 0; right: 0; border: 0;" }

    %h1 Best Signatures WoW Character Image Auto-Updater

    %h2 Stats

    %ul
      %li
        Number of characters:
        = @stats[:count]

      %li
        Number of realms:
        = @stats[:realms].count

    %h3 Regions
    %table#regions.sortable
      %thead
        %tr
          %th Region
          %th Characters
      %tbody
        - @stats[:regions].each do |region|
          %tr
            %td= region[0].upcase
            %td= region[1].to_s

    %h3 Realms
    %table#realms.sortable
      %thead
        %tr
          %th Region
          %th Realm
          %th Characters
      %tbody
        - @stats[:realms].each do |realm|
          %tr
            %td= realm[0].upcase
            %td= realm[1]
            %td= realm[2].to_s

    %p
      %a{ href: url("/") } Back to index
