!!!

%html
  %head
    %title Best Signatures WoW Character Image Auto-Updater

    - if ENV["RACK_ENV"] == "production"
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{ENV["GA_TRACKING_ID"]}']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  %body
    %a{ href: "https://github.com/jbhannah/bestsigs-wow-cacher/", target: "_blank" }
      %img{ src: "https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png",
            alt: "Fork me on GitHub",
          style: "position: absolute; top: 0; right: 0; border: 0;" }

    %h1 Best Signatures WoW Character Image Auto-Updater

    %h2 Stats

    %ul
      %li
        Number of characters:
        = @stats[:count]

      %li
        Number of realms:
        = @stats[:realms].count

    %h3 Regions
    %table#regions
      %thead
        %tr
          %th Region
          %th Realms
          %th Characters
      %tbody
        - @stats[:regions].each do |region|
          %tr
            %td= region[0].upcase
            %td= region[2]
            %td= region[1]

    %h3 Realms
    %table#realms
      %thead
        %tr
          %th Region
          %th Realm
          %th Characters
      %tbody
        - @stats[:realms].each do |realm|
          %tr
            %td= realm[0].upcase
            %td= realm[1]
            %td= realm[2]

    %p
      %a{ href: url("/") } Back to index
